@model IEnumerable<QuanLyCaPhe.Models.NHANVIEN>

@{
    ViewBag.Title = "Show5NhanVien";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show5NhanVien</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <h1 style="color:brown; font-family:'Times New Roman'; font-weight:bold;">DANH SÁCH NHÂN VIÊN</h1>
    <table class="table">
        <tr>
            <th>
                Mã nhân viên
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Sđt
            </th>
            <th>
                Chức vụ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MANV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIOITINH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYSINH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHUCVU)
                </td>
            </tr>
        }

    </table>
    <a href="/CaPhe/ShowAllNV"><button class="btn btn-secondary" style="margin-left:900px">Quay lại</button></a>
</div>
</html>

