@model  QuanLyCaPhe.Models.SANPHAM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div style="background-color: #DAB88B; margin: 0 auto; width: 1000px; border-radius: 30px;">
                <h1 style="color: white; font-weight: bold; font-family: 'Times New Roman'; text-align: center">THÊM SẢN PHẨM</h1>
                <div>
                    <hr />
                    <div style="margin-left:20px;">
                        @Html.ValidationSummary(true)
                        @*<div class="form-group">
                                <h3 style="font-family:'Times New Roman'">Mã sản phẩm</h3>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MASP)
                                    @Html.ValidationMessageFor(model => model.MASP)
                                </div>
                            </div>*@

                        <div class="form-group">
                            <h3 style="font-family:'Times New Roman'">Mã Loại</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.MALOAI, new List<SelectListItem> { new SelectListItem { Text = "Thức uống", Value = "1", Selected = true }, new SelectListItem { Text = "Thức ăn", Value = "2" } })
                                @Html.ValidationMessageFor(model => model.MALOAI)
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 style="font-family:'Times New Roman'">Tên sản phẩm</h3>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TENSP)
                                @Html.ValidationMessageFor(model => model.TENSP)
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 style="font-family:'Times New Roman'">Giá bán</h3>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GIABAN)
                                @Html.ValidationMessageFor(model => model.GIABAN)
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 style="font-family:'Times New Roman'">Hình ảnh</h3>
                            <div class="col-md-10">
                                <input type="file" name="HINHANH" />
                                @Html.ValidationMessageFor(model => model.HINHANH)
                            </div>
                        </div><br />


                        <center>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm sản phẩm" class="btn btn-info" /><br />
                                    @Html.ActionLink("Quay lại", "ThucDon")
                                </div><br />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    }


</body>
</html>

