@model IEnumerable<QuanLyCaPhe.Models.SANPHAM>

@{
    ViewBag.Title = "ThucDon";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 style="color:brown; font-family:'Times New Roman'; font-weight:bold;">THỰC ĐƠN</h1>

<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-4">
                <img src="@Url.Content("~/Images/" + item.HINHANH)" width="70%" height="70%" alt="Image">
                @*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 đến ký tự 30*@
                @if (item.TENSP.Length > 30)
                {
                    <p><strong title="@item.TENSP">Tên món: @item.TENSP.Substring(0, 30)...</strong><br /></p>
                }
                else
                {
                    <p><strong title="@item.TENSP">Tên món: @item.TENSP</strong><br /></p>
                    <div class="clear"></div>
                }
                @Html.ActionLink("Xóa", "deleteconfim", new { id = item.MASP }) &nbsp;
                @Html.ActionLink("Cập nhật", "UpDate", new { id = item.MASP })
            </div>
            <div class="clear"></div>
        }
    }
</div>
<center><h4>Tổng số sản phẩm: @ViewBag.SL</h4></center>
<a href="/CaPhe/Insert"><button class="btn btn-secondary" style="margin-left:900px">Thêm sản phẩm</button></a><br /><br />
