@model QuanLyCaPhe.Models.CHITIETHD

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <title>Cập nhật</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div style="background-color: #DAB88B; margin: 0 auto; width: 1000px; border-radius: 30px;">
                <h1 style="color: white; font-weight: bold; text-align: center; font-family: 'Times New Roman'; ">CẬP NHẬT SẢN PHẨM CHI TIẾT HÓA ĐƠN</h1>
                <div>
                    <hr />
                    <div style="margin-left: 20px">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.MALOAI, new { @class = "control-label col-md-2" })*@
                            <h4 style="font-family:'Times New Roman'">Mã hóa đơn</h4>
                            <div class="col-md-10">
                                <input name="MaHD" value="@Model.MAHD" readonly="readonly" />
                                @Html.ValidationMessageFor(model => model.MAHD)
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.MASP, new { @class = "control-label col-md-2" })*@
                            <h4 style="font-family:'Times New Roman'">Mã sản phẩm</h4>
                            <div class="col-md-10">
                                <input name="MaSP" value="@Model.MASP" readonly="readonly" />
                                @Html.ValidationMessageFor(model => model.MASP)
                            </div>
                        </div>



                        <div class="form-group">
                            @*@Html.LabelFor(model => model.TENSP, new { @class = "control-label col-md-2" })*@
                            <h4 style="font-family:'Times New Roman'">Số lượng</h4>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SOLUONG)
                                @Html.ValidationMessageFor(model => model.SOLUONG)
                            </div>
                        </div>


                        <div class="form-group">
                            @*@Html.LabelFor(model => model.GIABAN, new { @class = "control-label col-md-2" })*@
                            <h4 style="font-family:'Times New Roman'">Thành tiền</h4>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.THANHTIEN)
                                @Html.ValidationMessageFor(model => model.THANHTIEN)
                            </div>
                        </div>
                        <center>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Cập nhật" class="btn btn-info" style="background-color:green;" />
                                    @Html.ActionLink("Quay lại", "XemChiTietHoaDon", new { id = Model.MAHD })
                                </div><br />
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    }


</body>
</html>